button {
    float: right;
    border-radius: 20px;

    // background-image: linear-gradient(to right, #835dea, #462ea5);
    border: none;
    margin-left: 20px;
}

.p-splitbutton.p-button-outlined > .p-button {
    background-color: transparent;
    color: #6366f1;
    border-radius: 20px;
}
