<p-toast></p-toast>
<div class="card">
    <div class="flex align-items-center">
        <i
            class="fa-solid fa-arrow-left"
            style="font-size: 30px"
            (click)="navigateToRoute()"
        ></i>
        <h4
            style="
                font-weight: 700;
                font-family: system-ui, -apple-system, BlinkMacSystemFont,
                    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
                    'Helvetica Neue', sans-serif;
                color: rgb(0, 27, 68);
                align-items: flex-start;
                margin-top: 1%;
                font-size: 25px;
                margin-left: 2%;
                margin-bottom: 2%;
            "
        >
            Add Collection
        </h4>
    </div>
    <p-accordion [multiple]="true" [activeIndex]="[0]">
        <p-accordionTab *ngIf="!showAddNewUser" header="Collection Details">
            <div>
                <div class="col-12">
                    <form class="pt-4" [formGroup]="collection">
                        <div class="p-fluid p-formgrid grid">
                            <div class="field col-12 md:col-4">
                                <label htmlFor="firstname2"
                                    >Collection Name
                                    <span class="text-red-600"> *</span></label
                                >
                                <input
                                    pInputText
                                    id="Name"
                                    type="text"
                                    pTooltip="Enter your collection name"
                                    tooltipPosition="bottom"
                                    placeholder="Enter Collection Name"
                                    formControlName="name"
                                />
                            </div>
                            <div class="field col-12 md:col-4">
                                <label htmlFor="lastname2">Description </label>
                                <input
                                    pInputText
                                    id="Description"
                                    type="text"
                                    pTooltip="Enter description for collection"
                                    tooltipPosition="bottom"
                                    placeholder="Enter Description here"
                                    formControlName="description"
                                />
                            </div>

                            <div class="field col-12 md:col-4">
                                <!-- <p-dropdown [options]="rasieSource" optionLabel="name" formControlName="Channels"
                                    placeholder="Select Source"></p-dropdown> -->

                                <label htmlFor="state"
                                    >Raise Source
                                    <span class="text-red-600"> *</span></label
                                >
                                <p-multiSelect
                                    [options]="rasieSource"
                                    optionLabel="name"
                                    pTooltip="Select the raise source"
                                    tooltipPosition="bottom"
                                    placeholder=" Please Select Source"
                                    formControlName="source"
                                    [filter]="false"
                                    display="chip"
                                ></p-multiSelect>
                            </div>
                            <div class="field col-12 md:col-4">
                                <label htmlFor="state"
                                    >Select VPA Id
                                    <span class="text-red-600"> *</span></label
                                >
                                <p-dropdown
                                    [options]="vpaId"
                                    optionLabel="name"
                                    pTooltip="Select the VPA Id "
                                    tooltipPosition="bottom"
                                    placeholder="Please Select Source of Collection"
                                    formControlName="vpa"
                                ></p-dropdown>
                            </div>

                            <div
                                class="field col-12 md:col-4"
                                style="display: flex; flex-direction: column"
                            >
                                <label htmlFor="state">Recurring Event </label>
                                <p-toggleButton
                                    (onChange)="checkboxfn()"
                                    formControlName="autoRaising"
                                    pTooltip="Enter your onetime recurring event"
                                    tooltipPosition="bottom"
                                    onLabel="Recurring"
                                    offLabel="One-Time"
                                    [style]="{ width: '10em' }"
                                >
                                </p-toggleButton>
                            </div>

                            <div
                                *ngIf="checkboxValue"
                                class="field col-12 md:col-4"
                            >
                                <label htmlFor="state"
                                    >Frequency (in months)</label
                                >
                                <p-dropdown
                                    [options]="frequencyMonth"
                                    optionLabel="name"
                                    pTooltip="Select frequency (in months)"
                                    tooltipPosition="bottom"
                                    placeholder="Please select applicable frequency in month"
                                    formControlName="freq"
                                >
                                </p-dropdown>
                            </div>
                            <div
                                *ngIf="checkboxValue"
                                class="field col-12 md:col-4"
                            >
                                <label htmlFor="dob">Start Date </label>
                                <p-calendar
                                    inputId="calendar"
                                    (onSelect)="startDateFormat($event)"
                                    dateFormat="yy-mm-dd"
                                    pTooltip="Select start date"
                                    tooltipPosition="bottom"
                                    placeholder="Please Select Start Date"
                                    formControlName="startDate"
                                ></p-calendar>
                            </div>
                            <div
                                *ngIf="checkboxValue"
                                class="field col-12 md:col-4"
                            >
                                <label htmlFor="dob">End Date </label>
                                <p-calendar
                                    inputId="calendar"
                                    (onSelect)="EnddateFormat($event)"
                                    dateFormat="yy-mm-dd"
                                    pTooltip="Select end date"
                                    tooltipPosition="bottom"
                                    placeholder="Please Select End Date"
                                    formControlName="endDate"
                                ></p-calendar>
                            </div>
                            <!-- <div class="field col-12 md:col-4">
                                <label htmlFor="dob">Notification Day <span class="text-red-600"> *</span></label>
                                <p-calendar inputId="calendar" (onSelect)="dateFormat($event)" dateFormat="yy-mm-dd"
                                    placeholder="Please select applicable date of month" formControlName="raisingDate">
                                </p-calendar>

                            </div> -->
                            <div class="field col-12 md:col-4">
                                <label htmlFor="state"
                                    >Notification Day
                                    <span class="text-red-600"> *</span></label
                                >
                                <p-dropdown
                                    [options]="NotificationDate"
                                    optionLabel="name"
                                    pTooltip="Select notification day"
                                    tooltipPosition="bottom"
                                    formControlName="raisingDate"
                                    placeholder="Please select applicable date of month"
                                >
                                </p-dropdown>
                            </div>
                            <div class="field col-12 md:col-4">
                                <label htmlFor="dob"
                                    >Invoice Date
                                    <span class="text-red-600"> *</span></label
                                >
                                <p-calendar
                                    inputId="calendar"
                                    (onSelect)="invoiceDateformat($event)"
                                    dateFormat="yy-mm-dd"
                                    pTooltip="Select invoice date"
                                    tooltipPosition="bottom"
                                    placeholder="Please Select Invoice Date"
                                    formControlName="invoiceDate"
                                ></p-calendar>
                            </div>
                            <div class="field col-12 md:col-4">
                                <label htmlFor="dob"
                                    >Due Date
                                    <span class="text-red-600"> *</span></label
                                >
                                <p-calendar
                                    inputId="calendar"
                                    pTooltip="Select due date"
                                    tooltipPosition="bottom"
                                    placeholder="Please Select Due Date"
                                    (onSelect)="dueDateformat($event)"
                                    dateFormat="yy-mm-dd"
                                    formControlName="dueDate"
                                >
                                </p-calendar>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </p-accordionTab>

        <p-accordionTab *ngIf="!showAddNewUser" header="Charge Details">
            <p-button
                class="addCharge"
                (click)="show()"
                icon="pi pi-plus-circle"
                label="Add charge"
                [style]="{ float: 'left' }"
            >
            </p-button>
            <br />
            <br />

            <br />
            <br />
            <div *ngIf="myCharge.length > 0">
                <p-table
                    [scrollable]="true"
                    #dt2
                    [value]="myCharge"
                    dataKey="uniqueId"
                    [rows]="10"
                    [showCurrentPageReport]="true"
                    [rowsPerPageOptions]="[10, 25, 50]"
                    [paginator]="true"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [globalFilterFields]="['chargename', 'rate', 'description']"
                    [style]="{ 'min-width': '50rem' }"
                >
                    <ng-template pTemplate="header">
                        <tr>
                            <th>CHARGE NAME</th>
                            <th>RATE</th>
                            <th>DESCRIPTION</th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-value>
                        <tr>
                            <!-- <td [style]="{'color':'#01A9F1','font-weight': 'bold'}">{{ value.uniqueId }}</td> -->
                            <td>{{ value.chargeName }}</td>
                            <td>{{ value.rate | currency : "INR" }}</td>
                            <td>{{ value.description }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-accordionTab>
        <p-accordionTab header="Applicable On">
            <app-list-student
                [showButton]="false"
                (onSelectedStudent)="onSelectedStudent2($event)"
            ></app-list-student>
        </p-accordionTab>
    </p-accordion>
    <button pButton pRipple label="Submit" (click)="submit()"></button>
</div>
