<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>

<p-menu #menu [model]="items" [popup]="true"></p-menu>
<div class="card" style="width: 100%">
    <form [formGroup]="collection">
        <p-accordion [activeIndex]="1">
            <p-accordionTab header="Apply Filter">
                <div class="formgrid grid">
                    <div class="field col-12 lg:col-4 md:col-12">
                        <label for="firstname2">Collection Name</label>
                        <div class="p-inputgroup">
                            <input
                                placeholder="Enter collection name"
                                type="text"
                                pInputText
                                formControlName="name"
                            />
                        </div>
                    </div>

                    <div class="field col-12 lg:col-4 md:col-12">
                        <label for="firstname2">Raising Day</label>

                        <div class="p-inputgroup">
                            <input
                                placeholder="Enter raising day"
                                type="text"
                                pInputText
                                formControlName="raisingDay"
                            />
                        </div>
                    </div>

                    <div class="field col-12 lg:col-4 md:col-12">
                        <label for="firstname2">Frequency</label>
                        <div class="p-inputgroup">
                            <input
                                placeholder="Enter frequency"
                                type="text"
                                pInputText
                                formControlName="frequency"
                            />
                        </div>
                    </div>
                </div>

                <br />

                <p-button
                    [style]="{
                        'margin-left': '12px',
                        'background-color': '#651fff'
                    }"
                    [label]="'APPLY'"
                    (click)="submit()"
                ></p-button>
            </p-accordionTab>
        </p-accordion>
    </form>

    <div style="margin-top: 3%">
        <p-table
            [scrollable]="true"
            #dt
            [value]="collectionData"
            dataKey="collectionId"
            [rows]="10"
            [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10, 25, 50]"
            [paginator]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} collectionData"
            [globalFilterFields]="[
                'name',
                'autoRaising',
                'frequency',
                'vpa',
                'raisingDay',
                'sources'
            ]"
            [style]="{ 'min-width': '50rem' }"
            styleClass="p-datatable-gridlines"
        >
            <ng-template pTemplate="caption">
                <div class="flex-container">
                    <h2>List of Collections</h2>

                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input
                            (input)="
                                dt.filterGlobal(
                                    $any($event.target).value,
                                    'contains'
                                )
                            "
                            placeholder="Search collections"
                            type="text"
                            pInputText
                        />
                    </span>
                    <button
                        pButton
                        pRipple
                        label="+ Create Collection"
                        (click)="addCollection()"
                        style="float: right"
                        class="pAnimate zoomin animation-duration-500 animation-ease-out"
                    ></button>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 5rem"></th>

                    <th>Name</th>
                    <th>Auto Raising</th>
                    <th>Frequency</th>
                    <th>VPA</th>
                    <th>Raising-Day</th>
                    <th>Raise</th>

                    <th>ACTION</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-coll let-expanded="expanded">
                <tr>
                    <td>
                        <button
                            type="button"
                            pButton
                            pRipple
                            [pRowToggler]="coll"
                            class="p-button-text p-button-rounded p-button-plain"
                            [icon]="
                                expanded
                                    ? 'pi pi-chevron-down'
                                    : 'pi pi-chevron-right'
                            "
                            (click)="
                                showMembersAndCharges(coll.collectionId);
                                blockedPanel = !blockedPanel
                            "
                        ></button>
                    </td>
                    <td>{{ coll.name }}</td>
                    <td>{{ coll.autoRaising }}</td>
                    <td>{{ coll.frequency }}</td>
                    <td>{{ coll.vpa }}</td>

                    <td>{{ coll.raisingDate }}</td>
                    <td>
                        <p-button
                            (click)="
                                sendNotification(coll.collectionId, coll.name)
                            "
                            icon="pi pi-bell"
                            styleClass="p-button-rounded p-button-text"
                        >
                        </p-button>
                    </td>

                    <td>
                        <p-button
                            (click)="
                                handleClick(coll.collectionId);
                                menu.toggle($event)
                            "
                            icon="pi pi-ellipsis-v"
                            styleClass="p-button-rounded p-button-text"
                        >
                        </p-button>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="rowexpansion" let-coll>
                <tr>
                    <td colspan="8" class="text-center">
                        <p-progressSpinner
                            *ngIf="myMembers.length <= 0"
                            styleClass="w-4rem h-4rem"
                            animationDuration=".5s"
                            strokeWidth="1.5"
                            fill="#00000000
                            "
                        ></p-progressSpinner>
                    </td>
                </tr>
                <p-button
                    [style]="{
                        'margin-left': '12px',
                        'background-color': '#651fff'
                    }"
                    [label]="'+ New Student'"
                    (click)="visible = !visible; addNewUser()"
                ></p-button>

                <tr>
                    <td colspan="8">
                        <div class="p-3">
                            <p-table
                                [value]="myMembers"
                                dataKey="userId"
                                styleClass="p-datatable-gridlines"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="userId">
                                            UserId
                                            <p-sortIcon
                                                field="userId"
                                            ></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="fullName">
                                            Full Name
                                            <p-sortIcon
                                                field="fullName"
                                            ></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="email">
                                            Email
                                            <p-sortIcon
                                                field="email"
                                            ></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="mobileNo">
                                            Mobile No.
                                            <p-sortIcon
                                                field="mobileNo"
                                            ></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="balance">
                                            Balance
                                            <p-sortIcon
                                                field="balance"
                                            ></p-sortIcon>
                                        </th>
                                        <th>Charge Name</th>
                                        <th>Rate</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-myMembers>
                                    <tr>
                                        <td>{{ myMembers.userId }}</td>
                                        <td>{{ myMembers.fullName }}</td>
                                        <td>{{ myMembers.email }}</td>
                                        <td>{{ myMembers.mobileNo }}</td>
                                        <td>
                                            {{
                                                myMembers.balance
                                                    | currency : "INR"
                                            }}
                                        </td>
                                        <td colspan="3">
                                            <!-- Span to match the number of columns in the header -->
                                            <p-table
                                                [value]="myMembers.charges"
                                            >
                                                <ng-template
                                                    pTemplate="body"
                                                    let-charge
                                                >
                                                    <tr>
                                                        <td>
                                                            {{
                                                                charge.chargeName
                                                            }}
                                                        </td>
                                                        <td>
                                                            {{
                                                                charge.rate
                                                                    | currency
                                                                        : "INR"
                                                            }}
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="8">
                                            There are no members in this
                                            collection.
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">
                        There are no collections in this institute
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-dialog
    [modal]="true"
    [maximizable]="true"
    header="Header"
    [(visible)]="visible"
    [style]="{ width: '50vw' }"
>
    <ng-template pTemplate="header">
        <span class="text-xl font-bold">Header Content</span>
    </ng-template>
    <p>
        <p-table
            [value]="myMembers"
            dataKey="userId"
            [(selection)]="selectedMembers"
            [tableStyle]="{ 'min-width': '50rem' }"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 4rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Quantity</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-myMembers>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="myMembers"></p-tableCheckbox>
                    </td>
                    <td>{{ myMembers.userId }}</td>
                    <td>{{ myMembers.fullName }}</td>
                    <td>{{ myMembers.email }}</td>
                    <td>{{ myMembers.mobileNo }}</td>
                </tr>
            </ng-template>
        </p-table>
    </p>
    <ng-template pTemplate="footer">
        <p-button
            icon="pi pi-check"
            (click)="visible = false"
            label="Ok"
            styleClass="p-button-text"
        ></p-button>
    </ng-template>
</p-dialog>
